<%- include("./partials/head", { arc, bot, user, path, description, title: "Aeona - Home" , url, image }) %>

<div class=" min-h-screen text-center">
  <div class="mt-15">
    <img src="http://<%= hostname %>/logo.png" class="max-w-xs rounded-full shadow-2xl animate__animated  animate__infinite animate__pulse animate__slow mx-auto" />
    <div>
      <div class="indicator w-auto">
        <span class="indicator-item badge badge-primary mr-3">Beta</span>
        <h1 class="text-5xl font-bold text-white transition  ease-in duration-300 ">Say Hello to Aeona</h1>
      </div>

      <h2 class="py-6 text-white transition   ease-in duration-300">A multi-purpose chatbot powered by GPT-2 with moderation, <br> AI based chat filtering, Images, Utilities,<br> Reddit, Games, and much more!</h2>

      <h3 class="text-white transition   ease-in duration-300"> Aeona is in <%= bot.guilds.cache.size.toLocaleString() %> guilds and is serving <%= bot.guilds.cache.reduce((a, g)=> a + g.memberCount, 0).toLocaleString() %> users.</h3>
      <br>
      <a href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&scope=bot&permissions=1644971818487" class="no-prose no-underline">
        <button class="btn btn-primary ease-in  duration-300">Invite Aeona</button>
      </a>

      <br>


      <br>
      <br>
      <div class="scroll"></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="text-left p-10">
        <h1 class="text-white  duration-300"> What does Aeona bring to your server?</h1>
        <ul class="text-2xl">
          <li class="m-5"><b>Chat Bot</b><br> &nbsp; Aeona comes with a state of the art AI Chatbot which is powered by GPT-2 which is designed specifily for Discord</li>
          <li class="m-5"><b>Moderation</b><br> &nbsp; Aeona comes with a fully featured moderation system </li>
          <li class="m-5"><b>Chat filter</b><br> &nbsp; Aeona comes with a AI based chat filter system </li>
          <li class="m-5"><b>Music</b><br> &nbsp; Aeona has a high quality music system! </li>
          <li class="m-5"><b>Embeds</b><br> &nbsp; We allow you to sends fully featured embeds using our embed builder!</li>
          <li class="m-5"><b>Logging</b><br> &nbsp; With Aeona you can fully customize logging. Aeona lets you set your own log settings from member logging to command and voice logging! </li>
          <li class="m-5"><b>Create Applications</b><br> &nbsp; Manage your server applications with Aeona!</li>
          <li class="m-5"><b>Reaction Roles</b><br> &nbsp; Create your own reaction roles directly from Aeona's Dashboard!</li>
          <li class="m-5"><b>Global Chat </b> <br> &nbsp; Talk with people from all over the world!</li>
          <li class="m-5"><b>Custom Commands</b><br> &nbsp; Create your own custom commands!</li>
          <li class="m-5"><b>Alt Detection</b><br> &nbsp; Detects if a user is using an alt account!</li>
          <li class="m-5"><b>Economy</b><br> &nbsp; Have fun play an ever growing economy!</li>
          <li class="m-5"> <b>And More</b><br> &nbsp; We are working hard to add more features to Aeona!</li>
        </ul>
      </div>

      <h1 class="text-white"> What are you waiting for ?</h1>
      <a href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&scope=bot&permissions=1644971818487" class="no-prose no-underline">
        <button class="btn btn-primary ease-in  duration-300 animate__animated  animate__infinite animate__pulse animate__slower">Invite Aeona now!</button>
      </a>

    </div>
  </div>
</div>





<%- include("./partials/footer") %>